<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Категории:</strong>
  <%= @post.categories_titles %>
</p>

<% if @post.user.present? %>
  <p>
    <strong>Автор:</strong>
    <%= @post.user.email %>
  </p>
<% end %>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<% if @post.comments.empty? %>
  <p>Комментариев пока нет. Оставьте комментарий первым.</p>
  <% else %>
  <h3>Комментарии:</h3>
  <% @post.comments.each do |c|%>
    <p><%= c.body %></p>
    <p>Автор: <%= c.user.email %></p>
    <% if c.user == current_user%>
      <p><%= link_to "Удалить", c, method: :delete %></p>
    <% end %>
  <% end %>
<% end %>

<h4>Новый комментарий</h4>
<%= render 'comments/form' %>

<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
|
<% end %>

<%= link_to 'Back', posts_path %>
